<!DOCTYPE html>
<head>
    <title>Mini_App_2</title>
</head>
<body>
 <form method="POST" action="http://localhost:3000/">
     <input id="val" type="file" name="inputData">
     <button type=submit id="button" >Submit</button> 
 </form>
 
 p= data


 <script id="header" src="app.js"></script>
</body>

